{{#with root}}
    <span class="ann-morph src-{{#with (lemma this)}}{{etym.source}}{{/with}}">
        <span class="ann-text">{{form}}</span>
        <a class="ann-gloss" href="">xyz</a>
    </span>
{{else}}
    {{#with prefix}}
        <span class="ann-morph src-slavic">
            <span class="ann-text">{{form}}</span>
            <a class="ann-gloss" href="">xyz</a>
        </span>
    {{/with}}
    {{#with base}}
        {{> word }}
    {{/with}}
    {{#with suffix}}
        <span class="ann-morph src-slavic">
            <span class="ann-text">{{form}}</span>
            <a class="ann-gloss" href="">xyz</a>
        </span>
    {{/with}}
{{/with}}