{{#with root}}
    <span class="ann-morph src-{{#with (lemma this)}}{{etym.source}}{{/with}}">
        <span class="ann-text">{{form}}</span>
        <a class="ann-gloss" href="">xyz</a>
    </span>
{{else}}
    {{#if refs}}
        <span class="ann-complex">
            <span class="ann-complex-text">
                {{> word-structure }}
            </span>
            <a href="" class="ann-complex-gloss">
                {{#each refs}}{{this}}{{/each}}
            </a>
        </span>
    {{else}}
        {{> word-structure }}
    {{/if}}
{{/with}}